/* Colors and fonts */
body {
	background: #F7F7F7;
	color: #575F70;
	 font-family: 'Lora', serif;;
	font-size: 16px;
	font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: #575F70;
	font-size: 32px;
	font-weight: 900;
}
h2 {
	color: #94B49F;
	font-size: 24px;
	font-weight: lighter;
	font-weight: 300;
}

a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #A68DAD;
	font-weight: 600;
	font-size: 16xp;
}
a:hover{
	color: #495371;
}

/* Custom design with class */

.container {
width: 700px;
margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}


.card-white {
   background-color: white;
   padding: 40px;
   box-shadow: 0px 10px 30px rgba(0, 0, 0, 0. 1);
   border-radius: 4px;
   margin: 20px 0px;
   text-align: center;
}

.img-circle {
	border-radius: 50%;
}


.btn-violet {
	background-color:#A68DAD;
	color: white;
	padding: 15px 20px;
	border-radius: 4px
}

.btin-violet:hover {
	background-color: #A68DAD ;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 40px;
}

#introduction p {
     margin-bottom: 40px;
}

